PORT=4000

# PostgreSQL Connection
DATABASE_URL=postgresql://user:password@localhost:5432/db_name     # connection pooling
DIRECT_URL=postgresql://user:password@localhost:5432/db_name       # migration

FRONTEND_URL=http://localhost:3000

# Google OAuth Client ID (used to verify Google ID tokens)
GOOGLE_CLIENT_ID=
